RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.kainosbiolabs\.com [NC]
RewriteRule ^(.*)$ https://kainosbiolabs.com/$1 [L,R=301]

# Redirect HTTP to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://kainosbiolabs.com/$1 [L,R=301]
